APD.pdf
Aplicatia1NumereLitere/.vs/Aplicatia1NumereLitere/DesignTimeBuild/.dtbcache.v2
Aplicatia1NumereLitere/.vs/Aplicatia1NumereLitere/FileContentIndex/b15b9e85-761f-4a47-8e5f-27847cc12673.vsidx
Aplicatia1NumereLitere/.vs/Aplicatia1NumereLitere/v17/.futdcache.v2
Aplicatia1NumereLitere/.vs/Aplicatia1NumereLitere/v17/.suo
Aplicatia1NumereLitere/.vs/ProjectEvaluation/aplicatia1numerelitere.metadata.v7.bin
Aplicatia1NumereLitere/.vs/ProjectEvaluation/aplicatia1numerelitere.projects.v7.bin
Aplicatia1NumereLitere/Aplicatia1NumereLitere.csproj
Aplicatia1NumereLitere/Aplicatia1NumereLitere.sln
Aplicatia1NumereLitere/bin/Debug/net6.0/Aplicatia1NumereLitere.deps.json
Aplicatia1NumereLitere/bin/Debug/net6.0/Aplicatia1NumereLitere.dll
Aplicatia1NumereLitere/bin/Debug/net6.0/Aplicatia1NumereLitere.exe
Aplicatia1NumereLitere/bin/Debug/net6.0/Aplicatia1NumereLitere.pdb
Aplicatia1NumereLitere/bin/Debug/net6.0/Aplicatia1NumereLitere.runtimeconfig.json
Aplicatia1NumereLitere/obj/Aplicatia1NumereLitere.csproj.nuget.dgspec.json
Aplicatia1NumereLitere/obj/Aplicatia1NumereLitere.csproj.nuget.g.props
Aplicatia1NumereLitere/obj/Aplicatia1NumereLitere.csproj.nuget.g.targets
Aplicatia1NumereLitere/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.AssemblyInfo.cs
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.AssemblyInfoInputs.cache
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.csproj.BuildWithSkipAnalyzers
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.assets.cache
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.csproj.CoreCompileInputs.cache
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.csproj.FileListAbsolute.txt
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.dll
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.GeneratedMSBuildEditorConfig.editorconfig
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.genruntimeconfig.cache
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.GlobalUsings.g.cs
Aplicatia1NumereLitere/obj/Debug/net6.0/Aplicatia1NumereLitere.pdb
Aplicatia1NumereLitere/obj/Debug/net6.0/apphost.exe
Aplicatia1NumereLitere/obj/Debug/net6.0/ref/Aplicatia1NumereLitere.dll
Aplicatia1NumereLitere/obj/Debug/net6.0/refint/Aplicatia1NumereLitere.dll
Aplicatia1NumereLitere/obj/project.assets.json
Aplicatia1NumereLitere/obj/project.nuget.cache
Aplicatia1NumereLitere/Program.cs
App2Ball/.vs/App2Ball/DesignTimeBuild/.dtbcache.v2
App2Ball/.vs/App2Ball/FileContentIndex/424c6702-4567-48fa-88c7-a5a2ad53035e.vsidx
App2Ball/.vs/App2Ball/FileContentIndex/889ab286-87c2-4d2d-b0d8-79aa8f60ea70.vsidx
App2Ball/.vs/App2Ball/FileContentIndex/fb99363e-2b16-4e53-b2a7-07f7f619db63.vsidx
App2Ball/.vs/App2Ball/v17/.futdcache.v2
App2Ball/.vs/App2Ball/v17/.suo
App2Ball/.vs/ProjectEvaluation/app2ball.metadata.v7.bin
App2Ball/.vs/ProjectEvaluation/app2ball.projects.v7.bin
App2Ball/App2Ball.csproj
App2Ball/App2Ball.csproj.user
App2Ball/App2Ball.sln
App2Ball/Ball.cs
App2Ball/bin/Debug/net7.0-windows/App2Ball.deps.json
App2Ball/bin/Debug/net7.0-windows/App2Ball.dll
App2Ball/bin/Debug/net7.0-windows/App2Ball.exe
App2Ball/bin/Debug/net7.0-windows/App2Ball.pdb
App2Ball/bin/Debug/net7.0-windows/App2Ball.runtimeconfig.json
App2Ball/Form1.cs
App2Ball/Form1.Designer.cs
App2Ball/Form1.resx
App2Ball/obj/App2Ball.csproj.nuget.dgspec.json
App2Ball/obj/App2Ball.csproj.nuget.g.props
App2Ball/obj/App2Ball.csproj.nuget.g.targets
App2Ball/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
App2Ball/obj/Debug/net7.0-windows/App2Ball.AssemblyInfo.cs
App2Ball/obj/Debug/net7.0-windows/App2Ball.AssemblyInfoInputs.cache
App2Ball/obj/Debug/net7.0-windows/App2Ball.assets.cache
App2Ball/obj/Debug/net7.0-windows/App2Ball.csproj.BuildWithSkipAnalyzers
App2Ball/obj/Debug/net7.0-windows/App2Ball.csproj.CoreCompileInputs.cache
App2Ball/obj/Debug/net7.0-windows/App2Ball.csproj.FileListAbsolute.txt
App2Ball/obj/Debug/net7.0-windows/App2Ball.csproj.GenerateResource.cache
App2Ball/obj/Debug/net7.0-windows/App2Ball.designer.deps.json
App2Ball/obj/Debug/net7.0-windows/App2Ball.designer.runtimeconfig.json
App2Ball/obj/Debug/net7.0-windows/App2Ball.dll
App2Ball/obj/Debug/net7.0-windows/App2Ball.Form1.resources
App2Ball/obj/Debug/net7.0-windows/App2Ball.GeneratedMSBuildEditorConfig.editorconfig
App2Ball/obj/Debug/net7.0-windows/App2Ball.genruntimeconfig.cache
App2Ball/obj/Debug/net7.0-windows/App2Ball.GlobalUsings.g.cs
App2Ball/obj/Debug/net7.0-windows/App2Ball.pdb
App2Ball/obj/Debug/net7.0-windows/apphost.exe
App2Ball/obj/Debug/net7.0-windows/ref/App2Ball.dll
App2Ball/obj/Debug/net7.0-windows/refint/App2Ball.dll
App2Ball/obj/project.assets.json
App2Ball/obj/project.nuget.cache
App2Ball/Program.cs
App3Reclame/.vs/App3Reclame/DesignTimeBuild/.dtbcache.v2
App3Reclame/.vs/App3Reclame/FileContentIndex/b09e0b95-9fc9-4d7c-bbb1-14a006472300.vsidx
App3Reclame/.vs/App3Reclame/FileContentIndex/fdad31b6-3ade-484d-b229-7326134f46fe.vsidx
App3Reclame/.vs/App3Reclame/v17/.futdcache.v2
App3Reclame/.vs/App3Reclame/v17/.suo
App3Reclame/.vs/ProjectEvaluation/app3reclame.metadata.v7.bin
App3Reclame/.vs/ProjectEvaluation/app3reclame.projects.v7.bin
App3Reclame/App3Reclame.csproj
App3Reclame/App3Reclame.csproj.user
App3Reclame/App3Reclame.sln
App3Reclame/bin/Debug/net7.0-windows/App3Reclame.deps.json
App3Reclame/bin/Debug/net7.0-windows/App3Reclame.dll
App3Reclame/bin/Debug/net7.0-windows/App3Reclame.exe
App3Reclame/bin/Debug/net7.0-windows/App3Reclame.pdb
App3Reclame/bin/Debug/net7.0-windows/App3Reclame.runtimeconfig.json
App3Reclame/Form1.cs
App3Reclame/Form1.Designer.cs
App3Reclame/Form1.resx
App3Reclame/obj/App3Reclame.csproj.nuget.dgspec.json
App3Reclame/obj/App3Reclame.csproj.nuget.g.props
App3Reclame/obj/App3Reclame.csproj.nuget.g.targets
App3Reclame/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.AssemblyInfo.cs
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.AssemblyInfoInputs.cache
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.assets.cache
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.csproj.BuildWithSkipAnalyzers
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.csproj.CoreCompileInputs.cache
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.csproj.FileListAbsolute.txt
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.csproj.GenerateResource.cache
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.designer.deps.json
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.designer.runtimeconfig.json
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.dll
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.Form1.resources
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.GeneratedMSBuildEditorConfig.editorconfig
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.genruntimeconfig.cache
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.GlobalUsings.g.cs
App3Reclame/obj/Debug/net7.0-windows/App3Reclame.pdb
App3Reclame/obj/Debug/net7.0-windows/apphost.exe
App3Reclame/obj/Debug/net7.0-windows/ref/App3Reclame.dll
App3Reclame/obj/Debug/net7.0-windows/refint/App3Reclame.dll
App3Reclame/obj/project.assets.json
App3Reclame/obj/project.nuget.cache
App3Reclame/Program.cs
client/.vs/client/DesignTimeBuild/.dtbcache.v2
client/.vs/client/FileContentIndex/54fc0189-40b8-4fa4-9c91-07281856df9a.vsidx
client/.vs/client/FileContentIndex/5a1f3675-5c72-48ca-8678-c45d7e9001ce.vsidx
client/.vs/client/v17/.futdcache.v2
client/.vs/client/v17/.suo
client/.vs/ProjectEvaluation/client.metadata.v7.bin
client/.vs/ProjectEvaluation/client.projects.v7.bin
client/bin/Debug/net7.0-windows/client.deps.json
client/bin/Debug/net7.0-windows/client.dll
client/bin/Debug/net7.0-windows/client.exe
client/bin/Debug/net7.0-windows/client.pdb
client/bin/Debug/net7.0-windows/client.runtimeconfig.json
client/client.csproj
client/client.csproj.user
client/client.sln
client/MyClient.cs
client/MyClient.Designer.cs
client/MyClient.resx
client/obj/client.csproj.nuget.dgspec.json
client/obj/client.csproj.nuget.g.props
client/obj/client.csproj.nuget.g.targets
client/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
client/obj/Debug/net7.0-windows/apphost.exe
client/obj/Debug/net7.0-windows/client.AssemblyInfo.cs
client/obj/Debug/net7.0-windows/client.AssemblyInfoInputs.cache
client/obj/Debug/net7.0-windows/client.assets.cache
client/obj/Debug/net7.0-windows/client.csproj.BuildWithSkipAnalyzers
client/obj/Debug/net7.0-windows/client.csproj.CoreCompileInputs.cache
client/obj/Debug/net7.0-windows/client.csproj.FileListAbsolute.txt
client/obj/Debug/net7.0-windows/client.csproj.GenerateResource.cache
client/obj/Debug/net7.0-windows/client.designer.deps.json
client/obj/Debug/net7.0-windows/client.designer.runtimeconfig.json
client/obj/Debug/net7.0-windows/client.dll
client/obj/Debug/net7.0-windows/client.GeneratedMSBuildEditorConfig.editorconfig
client/obj/Debug/net7.0-windows/client.genruntimeconfig.cache
client/obj/Debug/net7.0-windows/client.GlobalUsings.g.cs
client/obj/Debug/net7.0-windows/client.MyClient.resources
client/obj/Debug/net7.0-windows/client.pdb
client/obj/Debug/net7.0-windows/ref/client.dll
client/obj/Debug/net7.0-windows/refint/client.dll
client/obj/project.assets.json
client/obj/project.nuget.cache
client/Program.cs
GRPC.pdf
gRPC_ClientDB/.vs/gRPC_ClientDB/DesignTimeBuild/.dtbcache.v2
gRPC_ClientDB/.vs/gRPC_ClientDB/FileContentIndex/22dedd64-c36e-4dc9-9d97-e059a3c6bd6b.vsidx
gRPC_ClientDB/.vs/gRPC_ClientDB/FileContentIndex/a96e65a8-66ad-48a0-9ae6-cb6164cd86bd.vsidx
gRPC_ClientDB/.vs/gRPC_ClientDB/FileContentIndex/f53256c4-c986-4572-bdab-6a12c6db1930.vsidx
gRPC_ClientDB/.vs/gRPC_ClientDB/FileContentIndex/f908198b-0e2a-4378-b569-9193ad2acc24.vsidx
gRPC_ClientDB/.vs/gRPC_ClientDB/v17/.futdcache.v2
gRPC_ClientDB/.vs/gRPC_ClientDB/v17/.suo
gRPC_ClientDB/.vs/ProjectEvaluation/grpc_clientdb.metadata.v7.bin
gRPC_ClientDB/.vs/ProjectEvaluation/grpc_clientdb.projects.v7.bin
gRPC_ClientDB/Form1.cs
gRPC_ClientDB/Form1.Designer.cs
gRPC_ClientDB/Form1.resx
gRPC_ClientDB/gRPC_ClientDB.csproj
gRPC_ClientDB/gRPC_ClientDB.csproj.user
gRPC_ClientDB/gRPC_ClientDB.sln
gRPC_ClientDB/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
gRPC_ClientDB/obj/Debug/net7.0-windows/12fbc7ffe642ca7e_greet.protodep
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.AssemblyInfo.cs
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.AssemblyInfoInputs.cache
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.assets.cache
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.csproj.AssemblyReference.cache
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.designer.deps.json
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.designer.runtimeconfig.json
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.GeneratedMSBuildEditorConfig.editorconfig
gRPC_ClientDB/obj/Debug/net7.0-windows/gRPC_ClientDB.GlobalUsings.g.cs
gRPC_ClientDB/obj/Debug/net7.0-windows/Protos/Greet.cs
gRPC_ClientDB/obj/Debug/net7.0-windows/Protos/GreetGrpc.cs
gRPC_ClientDB/obj/gRPC_ClientDB.csproj.nuget.dgspec.json
gRPC_ClientDB/obj/gRPC_ClientDB.csproj.nuget.g.props
gRPC_ClientDB/obj/gRPC_ClientDB.csproj.nuget.g.targets
gRPC_ClientDB/obj/project.assets.json
gRPC_ClientDB/obj/project.nuget.cache
gRPC_ClientDB/Program.cs
gRPC_ClientDB/Protos/greet.proto
Lab5_Server/App.config
Lab5_Server/bin/Debug/Lab5_Server.exe
Lab5_Server/bin/Debug/Lab5_Server.exe.config
Lab5_Server/bin/Debug/Lab5_Server.pdb
Lab5_Server/IWCFServer.cs
Lab5_Server/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Lab5_Server/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Lab5_Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lab5_Server/obj/Debug/Lab5_Server.csproj.AssemblyReference.cache
Lab5_Server/obj/Debug/Lab5_Server.exe
Lab5_Server/obj/Debug/Lab5_Server.pdb
Lab5_Server/obj/Debug/StudentManagerS.csproj.AssemblyReference.cache
Lab5_Server/obj/Debug/StudentManagerServer.csproj.AssemblyReference.cache
Lab5_Server/obj/Debug/StudentManagerServer.csproj.CoreCompileInputs.cache
Lab5_Server/obj/Debug/StudentManagerServer.csproj.FileListAbsolute.txt
Lab5_Server/Program.cs
Lab5_Server/Properties/AssemblyInfo.cs
Lab5_Server/Student.cs
Lab5_Server/StudentManagerServer.csproj
Lab5_Server/WCFServer.cs
pb_matrice.txt
server/.vs/ProjectEvaluation/server.metadata.v7.bin
server/.vs/ProjectEvaluation/server.projects.v7.bin
server/.vs/server/DesignTimeBuild/.dtbcache.v2
server/.vs/server/FileContentIndex/0f2543a8-51cb-476b-a89e-af4e894befa3.vsidx
server/.vs/server/FileContentIndex/6aae7ef2-456d-45af-b4ea-5a3e07f51978.vsidx
server/.vs/server/FileContentIndex/b817ec32-d1b0-4f6c-8315-e482d6454a7d.vsidx
server/.vs/server/v17/.futdcache.v2
server/.vs/server/v17/.suo
server/bin/Debug/net7.0/server.deps.json
server/bin/Debug/net7.0/server.dll
server/bin/Debug/net7.0/server.exe
server/bin/Debug/net7.0/server.pdb
server/bin/Debug/net7.0/server.runtimeconfig.json
server/MyServer.cs
server/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
server/obj/Debug/net7.0/apphost.exe
server/obj/Debug/net7.0/ref/server.dll
server/obj/Debug/net7.0/refint/server.dll
server/obj/Debug/net7.0/server.AssemblyInfo.cs
server/obj/Debug/net7.0/server.AssemblyInfoInputs.cache
server/obj/Debug/net7.0/server.assets.cache
server/obj/Debug/net7.0/server.csproj.BuildWithSkipAnalyzers
server/obj/Debug/net7.0/server.csproj.CoreCompileInputs.cache
server/obj/Debug/net7.0/server.csproj.FileListAbsolute.txt
server/obj/Debug/net7.0/server.dll
server/obj/Debug/net7.0/server.GeneratedMSBuildEditorConfig.editorconfig
server/obj/Debug/net7.0/server.genruntimeconfig.cache
server/obj/Debug/net7.0/server.GlobalUsings.g.cs
server/obj/Debug/net7.0/server.pdb
server/obj/project.assets.json
server/obj/project.nuget.cache
server/obj/server.csproj.nuget.dgspec.json
server/obj/server.csproj.nuget.g.props
server/obj/server.csproj.nuget.g.targets
server/Program.cs
server/server.csproj
server/server.sln
SincronizareApp1/.vs/ProjectEvaluation/sincronizareapp1.metadata.v7.bin
SincronizareApp1/.vs/ProjectEvaluation/sincronizareapp1.projects.v7.bin
SincronizareApp1/.vs/SincronizareApp1/DesignTimeBuild/.dtbcache.v2
SincronizareApp1/.vs/SincronizareApp1/FileContentIndex/5c869ce3-833d-4264-ace3-8bdd1863e124.vsidx
SincronizareApp1/.vs/SincronizareApp1/v17/.futdcache.v2
SincronizareApp1/.vs/SincronizareApp1/v17/.suo
SincronizareApp1/bin/Debug/net7.0/SincronizareApp1.deps.json
SincronizareApp1/bin/Debug/net7.0/SincronizareApp1.dll
SincronizareApp1/bin/Debug/net7.0/SincronizareApp1.exe
SincronizareApp1/bin/Debug/net7.0/SincronizareApp1.pdb
SincronizareApp1/bin/Debug/net7.0/SincronizareApp1.runtimeconfig.json
SincronizareApp1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SincronizareApp1/obj/Debug/net7.0/apphost.exe
SincronizareApp1/obj/Debug/net7.0/ref/SincronizareApp1.dll
SincronizareApp1/obj/Debug/net7.0/refint/SincronizareApp1.dll
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.AssemblyInfo.cs
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.AssemblyInfoInputs.cache
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.assets.cache
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.csproj.BuildWithSkipAnalyzers
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.csproj.CoreCompileInputs.cache
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.csproj.FileListAbsolute.txt
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.dll
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.GeneratedMSBuildEditorConfig.editorconfig
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.genruntimeconfig.cache
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.GlobalUsings.g.cs
SincronizareApp1/obj/Debug/net7.0/SincronizareApp1.pdb
SincronizareApp1/obj/project.assets.json
SincronizareApp1/obj/project.nuget.cache
SincronizareApp1/obj/SincronizareApp1.csproj.nuget.dgspec.json
SincronizareApp1/obj/SincronizareApp1.csproj.nuget.g.props
SincronizareApp1/obj/SincronizareApp1.csproj.nuget.g.targets
SincronizareApp1/Program.cs
SincronizareApp1/SincronizareApp1.csproj
SincronizareApp1/SincronizareApp1.sln
SQL.pdf
